@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?95f7kt');
    src:    url('../fonts/icomoon.eot?95f7kt#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?95f7kt') format('truetype'),
        url('../fonts/icomoon.woff?95f7kt') format('woff'),
        url('../fonts/icomoon.svg?95f7kt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
	font-family: Oswald;
	font-size: 18px;
}
p{
	font-family: Roboto;
}
.brown{
	color: #2C1608;
}
.black{
	color: black;
}
.white{
	color: #662B00;
}
.orange{
	color: #662B00;
}
.gray{
	color:#222222;
}
.main_header{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99;
}

.main_header .header_title{
	border-bottom: 5px solid #2C1608;
	color: white;
	letter-spacing: 2px;
	margin: .5em auto;
	padding-bottom: 0.5em;
	text-align: center;
	text-transform: uppercase;
	width: 50%;
}
.main_header .header_title .header_name{
	color: #2C1608;
	text-transform: uppercase;
}
.main_header .social{
	padding: 1em;
	position: absolute;
	top:1em;
	right: 1em;
}
.main_header .social span{
	padding: 5px;
}
.main_header .social span:hover{
	color: white;
}
.main_header .social a:hover{
	text-decoration: none;
}
.main_header .author{
	padding: 1em;
	position: absolute;
	top:1em;
}
.main_header .author a{
	color: black;
	border-bottom: 2px solid black;
}
.main_header .author a:hover{
	border-color:white;
	color: white;
	text-decoration: none;
}
.background{
	padding-top: 6em;
}
.background h2{
	text-align: center;
	letter-spacing: 1px;
}
.background .header_desc{
	width: 33%;
	padding: 0.5em;
	display: inline-block;
}
.background .header_desc h3{
	text-align: center;
}
.background .header_desc p{
	line-height: 1.5em;
	padding: 0 1em;
}
.background{
  background-image: url(../images/escom.png);
  background-size: cover;
  
  /*IMPORTANTE*/
  height: 100vh;
}
.icon_big{
	text-align: center;
	width: 100%;
	font-size: 2em;
	margin: 0.3em 0;
	display: block;
}
.background .intro{
	margin-top: 0.8em;
	width: 100%;
}
.background .intro h3, .background .intro h4{
	text-align: center;
}
.background .intro .button_begin{
	margin-top: 1.4em;
}
.background .intro .button_begin a{
	background-color:#2C1608; 
	border: 2px solid #2C1608; 
	border-radius: 5px;
	color: white;
	letter-spacing: 1px;
	margin: 0 auto;
	text-align: center;
	padding: 0.5em 0.8em;
}
.background .intro .button_begin a:hover{
	text-decoration: none;
}

main{
	background: #ddd url(../images/paper.png) repeat top left;
	margin-top: -2em;
	padding: 2em 2em;
}
main h2{
	color: #ff7518;
}

main table{
	background-color: white;
	border: 1px solid gray;
	display: block;
	font-size: 0.8em;
	text-align: center;
	margin: 0 auto;
	width: 90%;
}
main table thead{
	background-color: gray;
	display: block;
	padding: 0;
	width: 100%;
}
main table th{
	display: block;
	text-align: center;
	width: 100%;
}
main table tbody{
	display: block;
	width: 100%
}
main table tbody tr{
	border-bottom: 1px solid black;
	display: block;
	overflow: hidden;
	width: 100%;
}
main table tbody td{
	border-left: 1px solid black;
	display: block;
	float: left;
	width: 14.2%;
}
main table tbody td p{
	display: block;
	width: 80%;
	margin: 5px auto;
}
main table tfoot{
	display: block;
	width: 100%;
}
main table tfoot tr{
	display: block;
	width: 100%;
}
main table tfoot tr td{
	background-color: red;
	display: block;
	width: 100%;
}


.icon-pencil:before {
    content: "\e900";
}
.icon-droplet:before {
    content: "\e901";
}
.icon-books:before {
    content: "\e902";
}
.icon-library:before {
    content: "\e91e";
}
.icon-folder-upload:before {
    content: "\e903";
}
.icon-display:before {
    content: "\e904";
}
.icon-laptop:before {
    content: "\e905";
}
.icon-mobile:before {
    content: "\e906";
}
.icon-mobile2:before {
    content: "\e907";
}
.icon-tablet:before {
    content: "\e908";
}
.icon-floppy-disk:before {
    content: "\e909";
}
.icon-mug:before {
    content: "\e91f";
}
.icon-accessibility:before {
    content: "\e920";
}
.icon-menu:before {
    content: "\e90a";
}
.icon-menu3:before {
    content: "\e90b";
}
.icon-menu4:before {
    content: "\e90c";
}
.icon-plus:before {
    content: "\e90d";
}
.icon-minus:before {
    content: "\e90e";
}
.icon-cross:before {
    content: "\e90f";
}
.icon-checkmark:before {
    content: "\e910";
}
.icon-arrow-up:before {
    content: "\e911";
}
.icon-arrow-right:before {
    content: "\e912";
}
.icon-arrow-down:before {
    content: "\e913";
}
.icon-arrow-left:before {
    content: "\e914";
}
.icon-facebook2:before {
    content: "\e915";
}
.icon-twitter:before {
    content: "\e916";
}
.icon-github:before {
    content: "\e917";
}
.icon-linkedin:before {
    content: "\e918";
}
.icon-chrome:before {
    content: "\e919";
}
.icon-firefox:before {
    content: "\e91a";
}
.icon-IE:before {
    content: "\e91b";
}
.icon-html-five:before {
    content: "\e91c";
}
.icon-git:before {
    content: "\e91d";
}
